<nav class="nav collapsible">
  <a class="nav__brand" href="/"><img src="images/logo.svg" alt="" /></a>
  <svg class="icon icon--white nav__toggler">
    <use xlink:href="images/sprite.svg#menu"></use>
  </svg>
  <ul class="list nav__list collapsible__content">
    <li class="nav__item"><a href="#">Markets</a></li>
    <li class="nav__item"><a href="#">White Paper</a></li>
    <li class="nav__item"><a href="#">Road Map</a></li>
    <li class="nav__item"><a href="#">About Us</a></li>
  </ul>
</nav>
